<form action="/shortcodes" method="POST">
  <h1> Enter your destination url</h1>
  http://<input name="destination_url" value="<%= @shortcode.destination_url %>"/>
  <input type="submit" value="Create"/>
</form>
