body{
  text-align: center;
}
table {
  margin: auto;
  text-align: center;
  td{ min-width: 125px;}
  tr:nth-child(even) {
    background-color: #eee;
  }
  table tr:nth-child(odd) {
    background-color: #fff;
  }
}

.pagination{
  margin-top: 20px;
  text-align: center;
}
